$grid-columns: 16;
$grid-gutter-width: 1px;
$font-family-sans-serif: "Hind Madurai", "Montserrat", "Nunito";
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/slick-carousel/slick/slick.scss'